{% doc %}
  Renders a dropdown navigation list with support for nested child links.
  Can render in a drawer style for mobile or inline for the header.

  @param {string} [nav_style] - 'drawer' to render classes for drawer navigation
  @param {linklist} menu - Menu object to render
  @param {string} menu_color_scheme - Color scheme handle for menu background

  @example
  {% render 'component-nav-dropdown', nav_style: 'drawer', menu: section.settings.menu, menu_color_scheme: section.settings.menu_color_scheme %}
{% enddoc %}
{% style %}
  .menu-drawer__navigation {
    padding: 3.2rem 2.8rem;
  }

  .menu-drawer__search {
    position: sticky;
    top: 0;
    display: flex;
    background: #fff;
    z-index: 100;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1.2rem 0;
    border-bottom: 1px solid rgba(var(--color-foreground), 0.4);
  }

  .menu-drawer__search input {
    width: 100%;
    border: 0;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    color: inherit;
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .menu-drawer__link,
  .menu-drawer__toggle {
    margin-top: 2rem;
    padding: 1.6rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: rgba(var(--color-foreground), 0.75);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
  }

  .menu-drawer__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .menu-drawer__navigation > .featured-products {
    margin-top: 2rem;
    padding-bottom: 3.2rem;
    padding-top: 1.6rem;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #e1e1e1;
  }

  .featured-products > .product-grid {
    display: flex;
    gap: 1.2rem;
    width: 100%
    max-width: 100%;
    overflow-x: auto;
  }

  .featured-products > .product-grid::-webkit-scrollbar {
    display: none;
  }

  .product-grid > .product-card {
    flex: 0 0 auto; /* prevent cards from shrinking */
    min-width: 190px;
    max-width: 224px;
  }

  .menu-last-three-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.4rem;
  }

  .last_three_link {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: var(--color-foreground);
    text-decoration: none;
    text-transform: uppercase;
    padding: 2.4rem 0;
    border-bottom: 1px solid #e1e1e1;
  }

  .last_three_link > .image-wrapper {
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
  }

  .last_three_link > .image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .menu-drawer__search input {
      font-size: 1.6rem;
    }
    .menu-drawer__navigation {
      padding: 2.4rem 2.0rem;
  } 
    .menu-drawer__toggle {
      font-size: 1.6rem;
    }

    .menu-last-three-wrapper {
      grid-template-columns: 1fr;
    }

    .last_three_link {
      font-size: 1.6rem;
      padding-bottom: 1.6rem;
      padding-top: 0;
    }

    .last_three_link > .image-wrapper {
      width: 80px;
      height: 80px;
    }
  }
{% endstyle %}

<ul
  class="menu-drawer__navigation"
>
  {% comment %} Search {% endcomment %}
  <li class="menu-drawer__search">
    <input type="text" placeholder="FIND YOUR WELLE">
    {{ 'icon-search.svg' | inline_asset_content }}
  </li>
  {% assign total_links = menu.links.size %}
  {% assign wrap_start_index = total_links | minus: 2 %}

  {% for link in menu.links %}
    {% if forloop.index == wrap_start_index %}
      <div class="menu-last-three-wrapper">
    {% endif %}

    {% if forloop.first %}
      {% if link.links != blank %}
        {%- for childlink in link.links -%}
          <li x-data="{ menuOpen: false, activeSubMenu: null }" @click.outside="menuOpen = false; activeSubMenu = null">
            {% if childlink.links == blank %}
              <a
                href="{{ childlink.url }}"
                class="menu-drawer__link"
                {% if childlink.current %}
                  aria-current="page"
                {% endif %}
              >
                {{ childlink.title | escape }}
              </a>
            {% else %}
              <div
                @click="menuOpen = !menuOpen"
                :class="{ 'menu-open': menuOpen }"
                class="menu-drawer__toggle"
              >
                {{- childlink.title | escape -}}
                {{- 'icon-side-arrow.svg' | inline_asset_content -}}
              </div>
              <ul
                x-show="menuOpen"
                class="nav-{{ nav_style }} color-{{ menu_color_scheme }} gradient"
                x-transition
                role="list"
                x-cloak
              >
                {%- for grandchildlink in childlink.links -%}
                  <li>
                    <a
                      href="{{ grandchildlink.url }}"
                      class="menu-drawer__link"
                      {% if grandchildlink.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ grandchildlink.title | escape }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {% endif %}
          </li>
        {%- endfor -%}
        {% if link.title == 'Shop' and section.settings.show_products %}
          <div class="featured-products">
            <h2 class="featured-products__heading">{{ section.settings.products_heading }}</h2>
            <div class="product-grid">
              {% for product in collections[section.settings.collection].products
                limit: section.settings.products_count
              %}
                {% render 'component-product-card',
                  card_product: product,
                  media_aspect_ratio: 'square',
                  quick_add: 'standard'
                %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% else %}
      <li x-data="{ menuOpen: false, activeSubMenu: null }" @click.outside="menuOpen = false; activeSubMenu = null">
        {% if link.links != blank %}
          <div
            @click="menuOpen = !menuOpen"
            :class="{ 'menu-open': menuOpen }"
            class="menu-toggle"
          >
            {{- link.title | escape -}}
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </div>
          <ul
            x-show="menuOpen"
            class="nav-{{ nav_style }} color-{{ menu_color_scheme }} gradient"
            x-transition
            role="list"
            x-cloak
          >
            {%- for childlink in link.links -%}
              <li>
                {% if childlink.links == blank %}
                  <a
                    href="{{ childlink.url }}"
                    class="header__menu-item"
                    {% if childlink.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ childlink.title | escape }}
                  </a>
                {% else %}
                  <div
                    @click="activeSubMenu = (activeSubMenu === '{{ childlink.title | escape }}' ? null : '{{ childlink.title | escape }}')"
                    :class="{ 'menu-open': activeSubMenu === '{{ childlink.title | escape }}' }"
                    class="menu-toggle"
                  >
                    {{- childlink.title | escape -}}
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </div>
                  <ul
                    x-show="activeSubMenu === '{{ childlink.title | escape }}'"
                    class="nav-dropdown_child"
                    x-transition
                    role="list"
                    x-cloak
                  >
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a
                          href="{{ grandchildlink.url }}"
                          class="header__menu-item"
                          {% if grandchildlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ grandchildlink.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %}
              </li>
            {%- endfor -%}
          </ul>
        {% else %}
          <a
            href="{{ link.url }}"
            class="last_three_link"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            {% if link.title == 'About' %}
              <div class="image-wrapper">
                <img src="{{ 'about_link.jpg' | asset_url }}">
              </div>
            {% elsif link.title == 'Journal' %}
              <div class="image-wrapper">
                <img src="{{ 'journal_link.jpg' | asset_url }}">
              </div>
            {% elsif link.title == 'Welle+ Members' %}
              <div class="image-wrapper">
                <img src="{{ 'welle_link.png' | asset_url }}">
              </div>
            {% endif %}
            {{- link.title | escape -}}
          </a>
        {% endif %}
      </li>
      {% if forloop.last %}
        <li x-data="{ menuOpen: false, activeSubMenu: null }" @click.outside="menuOpen = false; activeSubMenu = null">
          <a
            href="#"
            class="last_three_link"
          >
            <div class="image-wrapper">
              <img src="{{ 'login_link.jpg' | asset_url }}">
            </div>
            {{- 'Log in / Account' | escape -}}
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</ul>
