{% doc %}
  Renders a dropdown navigation list with support for nested child links.
  Can render in a drawer style for mobile or inline for the header.

  @param {string} [nav_style] - 'drawer' to render classes for drawer navigation
  @param {linklist} menu - Menu object to render
  @param {string} menu_color_scheme - Color scheme handle for menu background

  @example
  {% render 'component-nav-dropdown', nav_style: 'drawer', menu: section.settings.menu, menu_color_scheme: section.settings.menu_color_scheme %}
{% enddoc %}
{% style %}
  .menu-drawer__search-wrapper {
    padding: 3.2rem 2.8rem;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
  }

  .menu-drawer__search {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1.2rem 0;
    border-bottom: 1px solid rgba(var(--color-foreground), 0.4);
  }

  .menu-drawer__search input {
    width: 100%;
    border: 0;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    color: inherit;
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  .menu-drawer__navigation {
    padding: 3.2rem 2.8rem;
    padding-top: 0;
    position: relative;
  }

  .menu-drawer__link,
  .menu-drawer__toggle {
    margin-top: 2rem;
    padding: 1.6rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: rgba(var(--color-foreground), 0.75);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
  }

  .menu-drawer__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .menu-drawer__navigation > .featured-products {
    margin-top: 2rem;
    padding-bottom: 3.2rem;
    padding-top: 1.6rem;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #e1e1e1;
  }

  .featured-products > .product-grid {
    display: flex;
    gap: 1.2rem;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .featured-products > .product-grid::-webkit-scrollbar {
    display: none;
  }

  .product-grid > .product-card {
    flex: 0 0 auto;
    min-width: 190px;
    max-width: 250px;
  }

  .menu-last-three-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.4rem;
  }

  .last_three_link,
  .sub-list__account-link {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: var(--color-foreground);
    text-decoration: none;
    text-transform: uppercase;
    padding: 2.4rem 0;
    border-bottom: 1px solid #e1e1e1;
  }

  .last_three_link > .image-wrapper,
  .sub-list__account-link > .image-wrapper {
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
  }

  .last_three_link > .image-wrapper > img,
  .sub-list__account-link > .image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .menu-sub-list {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100vw;
    background: #fff;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 300ms ease;
    padding: 2.4rem 2.8rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 2.4rem;
  }

  .menu-sub-list.menu-open {
    transform: translateX(0);
  }

  .menu-sub-list .sub-list__close {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.6rem 0;
    outline: 0;
    border: 0;
    background: transparent;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: var(--color-foreground);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2rem;
    padding-bottom: 0;
  }

  .sub-list__close svg {
    transform: rotate(180deg);
  }

  .sub-list__account-link {
    position: sticky;
    bottom: -2.8rem;
    z-index: 100;
    background: #fff;
    margin: -2.8rem;
    padding: 0 2.8rem;
    padding-bottom: 2.8rem;
  }

  .sub-list__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    padding: 0;
    gap: 1.6rem;
  }

  .sub-list__categories > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }

  .sub-list__categories > li {
    position: relative;
  }

  .sub-list__categories > li > span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .menu-sub-list > .featured-products {
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .menu-drawer__search-wrapper {
      padding: 2.4rem 2rem;
      padding-bottom: 0;
    }
    .menu-drawer__search input {
      font-size: 1.6rem;
    }
    .menu-drawer__navigation {
      padding: 2.4rem 2rem;
      padding-top: 0;
    }
    .menu-sub-list {
      padding: 2.4rem 2rem;
      padding-top: 0;
    }
    .menu-drawer__toggle {
      font-size: 1.6rem;
    }

    .menu-sub-list .sub-list__close {
      font-size: 1.6rem;
    }

    .menu-last-three-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    .last_three_link,
    .sub-list__account-link {
      font-size: 1.6rem;
      padding-bottom: 1.6rem;
      padding-top: 0;
    }

    .last_three_link > .image-wrapper,
    .sub-list__account-link > .image-wrapper {
      width: 80px;
      height: 80px;
    }

    .sub-list__categories {
      gap: 1.2rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
{% endstyle %}

{% comment %} Search {% endcomment %}

<div class="menu-drawer__search-wrapper">
  <li
    class="menu-drawer__search"
    @click="searchOpen = !searchOpen; $nextTick(() => { if (searchOpen) $refs.searchInput.focus() })"
  >
    <input type="text" placeholder="FIND YOUR WELLE">
    {{ 'icon-search.svg' | inline_asset_content }}
  </li>
</div>

<ul
  class="menu-drawer__navigation"
  x-data="{ anyMenuOpen: false }"
  :style="anyMenuOpen ? 'overflow: hidden' : ''"
  @menu-state-change.window="anyMenuOpen = $event.detail.open"
>
  {% assign total_links = menu.links.size %}
  {% assign wrap_start_index = total_links | minus: 2 %}

  {% for link in menu.links %}
    {% if forloop.index == wrap_start_index %}
      <div class="menu-last-three-wrapper">
    {% endif %}

    {% if forloop.first %}
      {% if link.links != blank %}
        {%- for childlink in link.links -%}
          <li
            x-data="{ menuOpen: false, activeSubMenu: null }"
            x-effect="$dispatch('menu-state-change', { open: menuOpen })"
            @click.outside="menuOpen = false; activeSubMenu = null"
          >
            {% if childlink.links == blank %}
              <a
                href="{{ childlink.url }}"
                class="menu-drawer__link"
                {% if childlink.current %}
                  aria-current="page"
                {% endif %}
              >
                {{ childlink.title | escape }}
              </a>
            {% else %}
              <div
                @click="menuOpen = true; $dispatch('menu-state-change', { open: true })"
                aria-label="Toggle submenu"
                aria-expanded="true"
                class="menu-drawer__toggle"
              >
                {{- childlink.title | escape -}}
                {{- 'icon-side-arrow.svg' | inline_asset_content -}}
              </div>
              <ul
                :class="{ 'menu-open': menuOpen }"
                class="menu-sub-list"
                role="list"
              >
                <button
                  @click="menuOpen = false; $dispatch('menu-state-change', { open: false })"
                  class="sub-list__close"
                >
                  {{- 'icon-side-arrow.svg' | inline_asset_content -}}
                  {{- childlink.title | escape -}}
                </button>

                {% if childlink.title == 'Shop All' %}
                  {% comment %} Shop All Categories {% endcomment %}
                  <ul class="sub-list__categories">
                    {% for block in section.blocks %}
                      {% if block.type == 'shop_all_item' %}
                        <li>
                          <img src="{{ block.settings.item_image | image_url: width: 800 }}">
                          <span>{{ block.settings.item_title }}</span>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>

                  {% comment %} Featured Products {% endcomment %}
                  <div class="featured-products">
                    <h2 class="featured-products__heading">{{ section.settings.products_heading }}</h2>
                    <div class="product-grid">
                      {% for product in collections[section.settings.collection].products
                        limit: section.settings.products_count
                      %}
                        {% render 'component-product-card',
                          card_product: product,
                          media_aspect_ratio: 'square',
                          quick_add: 'standard'
                        %}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}

                  {% comment %} Log in / Account {% endcomment %}
                  <a href="#" class="sub-list__account-link">
                    <div class="image-wrapper">
                      <img src="{{ 'login_link.jpg' | asset_url }} " width="100" height="100">
                    </div>
                    {{- 'Log in / Account' | escape -}}
                  </a>
                {% if childlink.title == 'Shop By Collection' %}
                  Shop By Collection
                  Is it working!
                {% endif %}

                {% if childlink.title == 'Shop By Focus' %}
                  Shop By Focus
                  tu to kaam krja bhai
                {% endif %}
              </ul>
            {% endif %}
          </li>
        {%- endfor -%}
        {% if link.title == 'Shop' and section.settings.show_products %}
          <div class="featured-products">
            <h2 class="featured-products__heading">{{ section.settings.products_heading }}</h2>
            <div class="product-grid">
              {% for product in collections[section.settings.collection].products
                limit: section.settings.products_count
              %}
                {% render 'component-product-card',
                  card_product: product,
                  media_aspect_ratio: 'square',
                  quick_add: 'standard'
                %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% else %}
      <li x-data="{ menuOpen: false, activeSubMenu: null }" @click.outside="menuOpen = false; activeSubMenu = null">
        {% if link.links != blank %}
          <div
            @click="menuOpen = !menuOpen"
            :class="{ 'menu-open': menuOpen }"
            class="menu-toggle"
          >
            {{- link.title | escape -}}
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </div>
          <ul
            x-show="menuOpen"
            class="nav-{{ nav_style }} color-{{ menu_color_scheme }} gradient"
            x-transition
            role="list"
            x-cloak
          >
            {%- for childlink in link.links -%}
              <li>
                {% if childlink.links == blank %}
                  <a
                    href="{{ childlink.url }}"
                    class="header__menu-item"
                    {% if childlink.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ childlink.title | escape }}
                  </a>
                {% else %}
                  <div
                    @click="activeSubMenu = (activeSubMenu === '{{ childlink.title | escape }}' ? null : '{{ childlink.title | escape }}')"
                    :class="{ 'menu-open': activeSubMenu === '{{ childlink.title | escape }}' }"
                    class="menu-toggle"
                  >
                    {{- childlink.title | escape -}}
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </div>
                  <ul
                    x-show="activeSubMenu === '{{ childlink.title | escape }}'"
                    class="nav-dropdown_child"
                    x-transition
                    role="list"
                    x-cloak
                  >
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a
                          href="{{ grandchildlink.url }}"
                          class="header__menu-item"
                          {% if grandchildlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ grandchildlink.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %}
              </li>
            {%- endfor -%}
          </ul>
        {% else %}
          <a
            href="{{ link.url }}"
            class="last_three_link"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            {% if link.title == 'About' %}
              <div class="image-wrapper">
                <img src="{{ 'about_link.jpg' | asset_url }}">
              </div>
            {% elsif link.title == 'Journal' %}
              <div class="image-wrapper">
                <img src="{{ 'journal_link.jpg' | asset_url }}">
              </div>
            {% elsif link.title == 'Welle+ Members' %}
              <div class="image-wrapper">
                <img src="{{ 'welle_link.png' | asset_url }}">
              </div>
            {% endif %}
            {{- link.title | escape -}}
          </a>
        {% endif %}
      </li>
      {% if forloop.last %}
        <li
          x-data="{ menuOpen: false, activeSubMenu: null }"
          @click.outside="menuOpen = false; activeSubMenu = null"
          class="account-link"
        >
          <a
            href="#"
            class="last_three_link"
          >
            <div class="image-wrapper">
              <img src="{{ 'login_link.jpg' | asset_url }}">
            </div>
            {{- 'Log in / Account' | escape -}}
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</ul>
