{% comment %} /sections/featured-products.liquid {% endcomment %}

{{ 'swiper7.4.1.min.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}
<script src="{{ "swiper7.4.1.min.js" | asset_url }}" defer="defer" id="swiper-script"></script>
<script src="{{ 'section-featured-products.js' | asset_url }}" type="module"></script>

{%- liquid
  assign heading = section.settings.heading
  assign subheading = section.settings.subheading
  assign view_all_text = section.settings.view_all_text
  assign view_all_url = section.settings.view_all_url
  assign products_to_show = section.blocks.size
  assign heading_alignment = section.settings.heading_alignment
  assign show_view_all_as_button = section.settings.show_view_all_as_button
  assign button_background_color = section.settings.button_background_color
  assign button_text_color = section.settings.button_text_color
-%}

<style>
  .featured-products-section {
    --button-bg-color: {{ button_background_color }};
    --button-text-color: {{ button_text_color }};
  }
</style>

{%- if products_to_show > 0 -%}
  <featured-products data-section-id="{{ section.id }}" class="featured-products-section" style="position: relative;">
    <div class="page-width featured-products-content">
      <div class="featured-products__header">
        <div class="featured-products__titles featured-products__titles--{{ heading_alignment }}">
          {%- if heading != blank -%}
            <h2 class="featured-products__heading">{{ heading | escape }}</h2>
          {%- endif -%}
          {%- if subheading != blank -%}
            <p class="featured-products__subheading">{{ subheading | escape }}</p>
          {%- endif -%}
        </div>
        {%- if view_all_text != blank and view_all_url != blank and show_view_all_as_button != true -%}
          <a href="{{ view_all_url }}" class="featured-products__view-all link underlined-link">
            {{ view_all_text | escape }}
          </a>
        {%- endif -%}
      </div>

      <div id="featured-products-{{ section.id }}" class="featured-products__swiper swiper">
        <div class="featured-products__swiper-arrows">
          <div class="swiper-button-prev featured-products__swiper-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
              <path d="M14.5 6.00005L1.5 6.00005M1.5 6.00005L6.375 0.800049M1.5 6.00005L6.375 11.2" stroke="#9D9D9D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="swiper-button-next featured-products__swiper-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
              <path d="M1.5 6.00005L14.5 6.00005M14.5 6.00005L9.625 0.800049M14.5 6.00005L9.625 11.2" stroke="#9D9D9D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {%- assign product = block.settings.product -%}
            {%- if product != blank -%}
              <div class="featured-products__card swiper-slide" {{ block.shopify_attributes }}>
                {% render 'component-product-card',
                  card_product: product,
                  section_id: section.id
                  quick_add: 'standard'
                %}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>

      {%- if show_view_all_as_button and view_all_text != blank and view_all_url != blank -%}
        <div class="featured-products__button-wrapper">
          <a href="{{ view_all_url }}" class="featured-products__view-all-button button">
            {{ view_all_text | escape }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </featured-products>
{%- endif -%}

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "featured-products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Shop the Pro Selection"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Skate like the pros"
    },
    {
      "type": "text",
      "id": "view_all_text",
      "label": "'View All' Link Text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "view_all_url",
      "label": "'View All' Link URL"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "show_view_all_as_button",
      "label": "Show 'View All' as Button",
      "default": true
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button Background Color",
      "default": "#2E2E2E"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "product_content_alignment",
      "label": "Product Content Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "review_content_alignment",
      "label": "Review Content Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "color",
      "id": "product_info_text_color",
      "label": "Product Info Text Color",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "stars_color",
      "label": "Stars Color",
      "default": "#FFD700"
    }
  ],
  "blocks": [
    {
      "type": "product_card",
      "name": "Product Card",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "blocks": [{ "type": "product_card" }, { "type": "product_card" }, { "type": "product_card" },{ "type": "product_card" },{ "type": "product_card" }]
    }
  ]
}
{% endschema %}
