{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    {%- if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 -%}
      <h3>Articles and Pages</h3>
      <ul role="listbox" aria-labelledby="predictive-search-articles">
        {%- for page in predictive_search.resources.pages -%}
          <li role="option">
            <a
              href="{{ page.url }}"
              class="predictive-search__item "
              tabindex="-1"
            >
              {{ page.title | escape }}
            </a>
          </li>
        {%- endfor -%}
        {%- for article in predictive_search.resources.articles -%}
          <li role="option">
            <a
              href="{{ article.url }}"
              class="predictive-search__item"
              tabindex="-1"
            >
              {{ article.title | escape }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    {%- if predictive_search.resources.products.size > 0 -%}
      {% comment %} Initial featured products {% endcomment %}
      {% for product in predictive_search.resources.products %}
        {% render 'component-product-card', card_product: product, media_aspect_ratio: 'square', quick_add: 'none' %}
      {% endfor %}
    {%- endif -%}

    <a href="{{ routes.search_url }}?q={{ predictive_search.terms }}">
      <span>Search for “{{ predictive_search.terms }}”</span>
      {{- 'icon-arrow.svg' | inline_asset_content -}}
    </a>
  </div>
{%- endif -%}
